<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

    * {
        font-family: 'Poppins', sans-serif;
    }

    .container {
        width: 360px;
        background-color: deepskyblue;
    }

    h4 {
        text-align: center;
        color: red;
    }

    img {
        width: 250px;
        height: 250px;
        margin: 10px auto;
    }
</style>

<body>
    <section class="container">
        <h4>Notice - <strong>Placement Drive - 2023</strong></h4>
        <p>{{companyName}},</p><br />
        <p>Drive Date->{{driveDate}}</p>
        <p>For more details- ></p><a href="https://localhost:3000/">Click Here</a>
        <br /><br />
        <img
            src='https://collegefunda.com/uploads/Institute/23-01-2020-AM-12-27-591179691810Vidyalankar%20Institute%20of%20Technology(VIT),Mumbai%20logo.png' />
    </section>
</body>

</html>