.MuiSvgIcon-root {
  font-size: 1.5rem !important;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.css-f3jnds-MuiDataGrid-columnHeaders {
  background-color: rgb(95, 38, 228);
  color: white;
}
